.line-text h3 {
  font-family: "DM Mono";
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #8dfd1b;
  max-width: 546px;
}

.section2-text p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 564px;
  padding-top: 20px;
}

.line-text span {
  width: 2px;
  height: 124px;
  border: 2px solid #8dfd1b;
}

.line-text {
  display: flex;
  column-gap: 22px;
}

.section2-main {
  display: flex;
  align-items: center;
  column-gap: 220px;
}

.section2-main img {
  padding-left: 40px;
}

.button2 {
  border: 1px solid #8dfd1b;
  background-color: black;
  color: white;
  padding: 10px 33px 16px 33px;
  cursor: pointer;
  margin-top: 30px;
  font-family: "DM Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
